<a href="https://colab.research.google.com/github/SIVANIPATNAIK/Python_progs/blob/main/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Accept input from user and store it in variable and print the value

In [1]:
x=input()
print(x)

6
6

Use of print statements and use of (.format )for printing different data types

In [4]:
a=9.5;
print(type(a));
#before conversion
b=str(a);
print(b);
print(type(b));
#after conversion
e=complex(a);
print(e);
print(type(e));
c=int(a);
print(c);
print(type(c));
d=bool(a);
print(d);
print(type(d));

<class 'float'>
9.5
<class 'str'>
(9.5+0j)
<class 'complex'>
9
<class 'int'>
True
<class 'bool'>

Take 2 numbers as user input and add, multiply, divide, subtract, remainder and print the output

In [5]:
no1=int(input())
no2=int(input())
sum=no1+no2
multi=no1*no2
div=no1/no2
sub=no1-no2
print(sum,multi,div,sub)

40
75
115 3000 0.5333333333333333 -35

Conversion of one unit to another (such as hours to minutes, miles to km and etc)

In [6]:
hour=int(input())
miles=int(input())
min=hour*60
km=1.60934*miles
print(min,km)

60
30
3600 48.2802

Usage of mathematical functions in python like math.ceil, floor, fabs, fmod, trunc,pow, sqrt etc

In [11]:
import math
print(math.ceil(6.4))
print(math.floor(6.4))
print(math.fabs(-50))
print(math.fmod(12, 4))
print(math.trunc(8.66))
x = pow(2, 2)
print(x)
print (math.sqrt(16))

7
6
50.0
0.0
8
4
4.0

Building a mathematical calculator that can perform operations according to user input.

In [12]:
no1 = float(input("Enter 1st number: "))
no2 = float(input("Enter 2nd number: "))
print("Operation: +, -, *, /")
select = input("Select operations: ")
if select == "+":
    print(no1, "+", no2, "=", no1+no2)
elif select == "-":
    print(no1, "-", no2, "=", no1-no2)
elif select == "*":
    print(no1, "*", no2, "=", no1*no2)
elif select == "/":
    print(no1, "/", no2, "=", no1/no2)
else:
    print("Invalid input")

Enter 1st number: 4
Enter 2nd number: 6
Operation: +, -, *, /
Select operations: *
4.0 * 6.0 = 24.0

Accepting 5 different subject marks from user and displaying the grade of the student

In [13]:
eng=int(input())
phy=int(input())
evpr=int(input())
chem=int(input())
math=int(input())
tot=(eng+phy+evpr+chem+math)/5
if tot > 90:
  print("A")
elif tot > 80 :
  print("B")
elif tot > 70 :
  print("C")
elif tot > 60 :
  print("D")    
elif tot > 50 :
  print("E")
elif tot > 40 :
  print("F")

50
80
100
75
90
C

Printing all even numbers, odd numbers, count of even numbers, count of odd numbers within a given range.

In [15]:
no1=int(input())
no2=int(input())
c=0  #c is count of even numbers
o=0 
for x in range(no1,no2):
  if(x%2==0) :
    print(x)
    c=c+1
  elif(x%2!=0) :
    print("0is odd",x)
    o=o+1
print(c)
print(o)

2
7
2
0is odd 3
4
0is odd 5
6
3
2

Compute the factorial of a given number

In [16]:
number = int(input("Enter a no: "))    
factorial = 1    
if number < 0:    
   print(" Factorial does not exist for negative nos")    
elif number == 0:    
   print("The factorial of 0 is 1")    
else:    
   for i in range(1,number + 1):    
       factorial = factorial*i    
   print("The factorial of",number,"is",factorial)

Enter a no: 6
The factorial of 6 is 720

Compute GCD of two given numbers

In [17]:
a =int(input("Enter a no: ")) 
b =int(input("Enter a no: "))
if a > b:
  a, b = b, a
for i in range(1,a+1):
  if a%i == 0 and b%i == 0:
    gcd = i

print("GCD of", a, "and", b, "is:", gcd)

Enter a no: 250
Enter a no: 5
GCD of 5 and 250 is: 5

Generate Fibonacci series up to N numbers

In [20]:
n = int(input())
num1, num2 = 0, 1
c = 0
print("Fibonacci sequence:")
while c < n:
       print(num1)
       nth = num1 + num2
       num1 = num2
       num2 = nth
       c +=1

5
Fibonacci sequence:
0
1
1
2
3

Check whether the given input is palindrome

In [22]:
no=int(input("Enter a nober:"))
a=no
reverse=0
while(no>0):
    dgiit=no%10
    reverse=reverse*10+dgiit
    no=no//10
if(a==reverse):
    print("It is a palindrome!")
else:
    print("Not a palindrome!")

Enter a nober:7
It is a palindrome!

Check whether the given input is strong

In [23]:
num=int(input("Enter a number:"))
sum=0
act=num
while(num):
    i=1
    f=1
    r=num%10
    while(i<=r):
        f=f*i
        i=i+1
    sum=sum+f
    num=num//10
if(sum==act):
    print("The number is a strong number")
else:
    print("The number is not a strong number")

Enter a number:50
The number is not a strong number

Check whether the given input is perfect

In [24]:
no=int(input("Enter a number:"))
s=0
for i in range(1, no):
    if(no % i == 0):
        s = s + i
if (s == no):
    print("Perfect nober")
else:
    print("not a Perfect nober")

Enter a number:8
not a Perfect nober

Compute compound interest using loop for a certain principal and interest amount

In [25]:
x=int(input("principle amount:"))
rate=int(input("rate:"))
years=int(input("number of years:"))
for i in range(years):
    x=x+((x*rate)/100)
print(x)

principle amount:60
rate:40
number of years:2
117.6